body {
  display: flex;
  flex-direction: row;
  font-family: "Times New Roman", Times, serif;
  background-color: gray;
}
.resume-container {
  display: flex;
  position: relative;
  width: 78%;
  justify-content: center;
}
.resume-content {
  width: 50%;
  border: 2px solid black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: lightcyan;
  height: 100vh;
}
#image {
  height: 25vh;
  width: 20vh;
  border-radius: 20%;
  object-fit: cover;
}
.info-container {
  width: 19%;
  display: flex;
  justify-content: flex-start;
  border-right: thick double lightcyan;
  flex-direction: column;
}
.info-content {
  width: 100%;
  background-color: lightsteelblue;
  height: 100%;
  border: solid black;
}
a:hover {
  color: green;
}
a {
  font-family: "Times New Roman", Times, serif;
}
